.dropdown-menu{
    width: auto;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;

}

.dropdown-menu li{
background: #6a9ed6;
cursor: pointer;
width: auto;
display: inline-block;
font-weight: 475;
border: 1px solid black;
}

.dropdown-menu li:hover{
background: #336cce;
}

.dropdown-menu.clicked{
display: list-item;
}

.dropdown-link{
display: block;
width: 100%;
height: 100%;
text-decoration: none;
color: black;
padding: 10px;
}

.dropdowns-menu{
    width: auto;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
 

}

.dropdowns-menu li{
background: #6a9ed6;
cursor: pointer;
width: auto;
display: inline-block;
font-weight: 475;
border: 1px solid black;
}

.dropdowns-menu li:hover{
background:  #336cce;
}

.dropdowns-menu.clicked{
display: list-item;
}

.dropdowns-link{
display: block;
width: 100%;
height: 100%;
text-decoration: none;
color: black;
padding: 10px;
}



